.tree-component {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: calc(100vh - 50px);

  g[id^="tree-node-"] {
    .tree-detail-icon {
      display: none;
    }
    &:hover {
      .tree-detail-icon {
        display: flex;
      }
    }
  }
}
.tree-box {
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 0;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 0;
  }
}